[user]
	email = kazuakiishiguro@protonmail.com
	name = Kazuaki Ishiguro

[github]
	user = kazuakiishiguro

[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = emacs -nw
[gpg]
	program = gpg
